<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<h1>首页</h1>
<div th:if="${session.account} !=null">
<span th:text="${session.account.username}+'欢迎回来！'"></span>
<a href="loginout">退出!</a>
</div>
<a href="/main">main</a>
<div shiro:hasPermission="manage">
<a href="/manage">manage</a>|
</div>
<div shiro:hasRole="administrator">
<a href="/administrator">administrator</a>
</div>
</body>
